#nav {
  margin: 0;
  text-align: left;
}

#selector > p{
  color: brown;
}

#nav li {
  background: #7bced4;
  color: rgba(255, 255, 255, 0);
  font-size: 20px;
  padding-bottom: 8px;
  padding-top: 4px;
}

#nav li a {
  color: #ffffff;
}

#nav ul {
  position: relative;
}

#nav li a {
  color: red;
}

#nav li a:hover {
  color: black;
  background-color: yellow;
}

#nav li a:active {
  color: yellow;
}

body {
 text-align: center;
}

h1 {
  color: green;
}

#combinators .child1 {
  color: red;
}

#combinators > li {
  color: blueviolet;
}

#combinators2 + li{
  color: fuchsia;
}

h2 h3 {
  background-color: green;
}

ul + h1 {
  color: blue;
}

/* ul ~ h1 {
  color: yellow;
} */
/* inline -> id -> class -> elements */

h4::after {
  content: "Kanika"
}

h4::first-letter {
  color: yellow;
}

h4::before {
  content: "Dayyy "
}

.para::first-line {
  color: fuchsia;
}

.clr {
  background-color: burlywood;
}

h1, h2 {
  color: lawngreen;
}

a[target] {
  background-color: yellow;
}

a[target=_b] {
  color: white;
}

[title=image] {
  border-radius: 50px;
}

[class|=trail] {
  color: green;
}

/* [class^=trail] {
  color: red;
} */

[class$=trail] {
  color: yellow;
}

[class*=p] {
  color: purple;
}

input[type="text"] {
  padding: 20px;
  margin: 10px;
}

/* css specifity -> */