.cart-wrapper {
  position: relative;
}

.cart-wrapper span {
  position: absolute;
  right: 0vw;
  top: -0.7vh;
  color: #ffffff;
  background: #ffb833;
  border-radius: 50%;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}
